<template>
  <div>
    <h3>Auction details {{$route.params.id}}</h3>

    <div class="alert alert-success" v-if="message != '' && messageType == 'SUCCESS'">
      <strong>Success!</strong> {{message}}
    </div>

    <div class="alert alert-danger" v-if="message != '' && messageType == 'ERROR'">
      <strong>Error!</strong> {{message}}
    </div>

    <div class="row">
      <div class="col-md-3">
        Description
      </div>
      <div class="col-md-9">
        {{item.description}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        Closing date
      </div>
      <div class="col-md-9">
        {{item.closing_date}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        Current price
      </div>
      <div class="col-md-9">
        <span id="price-label">{{formatPrice(item.price)}}</span>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-3">
          <input class="form-control" type="text" v-model="bid" id="bid-input"/>
        </div>
        <div class="col-md-3">
          <select class="form-control" v-model="selectedUserId">
            <option v-for="option in users" :value="option.id">
              {{ option.username }}
            </option>
          </select>
        </div>
        <button class="btn btn-success" @click="placeBid" id="submit">Place bid</button>
      </div>
    </div>
    <hr v-if="history.length > 0 "/>
    <div class="row" v-if="history.length > 0">
      <div class="col-md-4">Username</div>
      <div class="col-md-4">Date/Time</div>
      <div class="col-md-4">Amount</div>
    </div>
    <div v-for="item in history" class="row">
      <div class="col-md-4">
        {{item.user.username}}
      </div>
      <div class="col-md-4">
        {{formatDate(item.inserted_at)}}
      </div>
      <div class="col-md-4">
        {{item.amount}}
      </div>
    </div>
    <hr/>
    <a href="#/">Go Back</a>

  </div>
</template>
<script>

  import axios from "axios";
  export default {
    data: function() {
      return {
        item: {
          id: null,
          description: "",
          closing_date: null,
          price: null,
        },
        users: [],
        message: "",
        messageType: "",
        bid: null,
        selectedUser: null,
        history: []
      }
    },
    methods: {
      formatPrice: function(price) {
        if (price == null) return;
        return price.toFixed(2);
      },
      formatDate: function(date) {
        var d = new Date(date);
        return d.toLocaleString();
      },
      placeBid: function() {
        var self = this;
        axios.post("/api/auctions", {
          id: this.item.id,
          bid: this.bid == null ? 0 : parseFloat(this.bid),
          user_id: this.selectedUserId
        })
          .then(function(response) {
            self.messageType = "SUCCESS";
            self.message = response.data.message;
            self.item = response.data.item;
            if (response.data.history) {
              self.history = response.data.history;
            }
          })
          .catch(function(error) {
            if (error && error.response && error.response.data && error.response.data.message) {
              self.messageType = "ERROR";
              self.message = error.response.data.message;
            }
          })
      }
    },
    mounted: function() {
      var self = this;
      axios.get("/api/auctions/" + this.$route.params.id)
        .then(function (response) {
          self.item = response.data;
        })
        .catch(function(error)  {
          console.log(error);
        });

      axios.get("/api/users/")
        .then(function (response) {
          self.users = response.data;
          self.selectedUserId = response.data[0].id;
        })
        .catch(function(error)  {
          console.log(error);
        });

      axios.get("/api/auctions/bids/" + this.$route.params.id)
        .then(function (response) {
          console.log(response)
          self.history = response.data;
          //self.item = response.data;
        })
        .catch(function(error)  {
          console.log(error);
        });
    }
  }
</script>