<template>
  <div>
    <h3>Open auctions</h3>
    <div class="row">
      <div class="col-md-3">
        Description
      </div>
      <div class="col-md-3">
        Price
      </div>
      <div class="col-md-3">
        Closing Date
      </div>
      <div class="col-md-3">
       Action
      </div>
    </div>
    <div v-for="item in items" class="row">
      <div class="col-md-3">
        {{item.description}}
      </div>
      <div class="col-md-3">
        {{item.price.toFixed(2)}}
      </div>
      <div class="col-md-3">
        {{item.closing_date}}
      </div>
      <div class="col-md-3">
        <a :href="'#/auction-item/' + item.id" :id="'select-' + item.description" v-if="canBeSelected(item)">Select</a>
      </div>
    </div>
  </div>
</template>
<script>

  import axios from "axios";
  export default {
    data: function() {
      return {
        items: []
      }
    },
    methods: {
      canBeSelected : function (item) {
        var today = new Date();
        today = new Date(today.getFullYear(), today.getMonth(), today.getDate());
        var parts = item.closing_date.split("-");
        var year = parseInt(parts[0]);
        var month = parseInt(parts[1]) - 1;
        var day = parseInt(parts[2]);
        var d = new Date(year, month, day);
        return today <= d;
      }
    },
    mounted: function() {
      var self = this;
      axios.get("/api/auctions")
        .then(function (response) {
          self.items = response.data;
        })
        .catch(function(error)  {
          console.log(error);
        });
    }
  }
</script>